.map-container {
    height: 800px;
    width: 80%;
}

.containerMap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .map-container {
        height: 400px;
        width: 100%;
    }
}
