@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-page{
  height: 100%;
  width: 100%;
  display: flex;
  background: #f5f5f5;
}

 input:focus, button[type="submit"]:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }

button[type="submit"]:disabled{
  background: #777;
  cursor: not-allowed;
}
.btn-auth-form-submit:hover, .auth-form input.btn-auth-form:hover{
  background: #999;
}

.loading{
  height: 1.2rem;
  width: 1.2rem;
  /* faire tourner continuellement */
    animation: loading 1s linear infinite;
    display: inline-block;
}

@keyframes loading{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.container-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
}

.container-error span:last-child{
  margin-bottom: 1rem;
}
