.visuallyHiddenInput{
    height: 0;
    width: 0;
}

.modal-libray{
    color: black;
}

.library-image{
    margin-top: 1rem;
    max-height: 400px;
    max-width: 800px;
    .list-image{
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        max-width: 100%;
        
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 0.5rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}