@import url('color.css');

.container-auth{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);

.container-login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  max-width: none;
  margin: 0 1rem;
  max-width: 430px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);

  .auth-form{
    padding: 2rem;
  }

  
.auth-form .title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .auth-form input, .btn-auth-form-submit{
    height: 40px;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid var(--light-grey);
     border-radius: 6px;
     outline: none;
     width: 100%;
   }
  
   .auth-form input, .btn-auth-form-submit{
     height: 60px;
     vertical-align: middle;
   }

   .auth-form a{
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
  }
  .auth-form a:hover{
    text-decoration: underline;
  }
  .btn-auth-form-submit{
    color: var(--white);
    background: var(--primary-color);;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
  }

  .auth-form input.btn-auth-form:enabled:hover, .btn-auth-form-submit:enabled:hover{
    background: var(--secondary-color);
  }
  .signup{
    font-size: 17px;
    text-align: center;
  }
  .signup label{
    color: var(--primary-color);
    cursor: pointer;
  }
  .signup label:hover{
    text-decoration: underline;
  }
}
}