@import url("color.css");

.container-button {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  display: flex;

  ul {
    list-style: none;

    li {
      margin: 1rem;
    }
  }
}